* {
    margin: 0;
    padding: 0;
}

/* Header */
.headerLeft img {
    object-fit: contain;
    width: 135px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f8fc;
    border-bottom: 1px solid whitesmoke;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLeft .icons {
    padding: 10px;
    cursor: pointer;
}

.headerMiddle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.headerLeft .icons,
.icons {
	width: 26px;
}

.headerMiddle input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.headerRight {
    display: flex;
    padding-right: 20px;
}

.headerRight .icons {
    padding: 10px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
    background-color: #f6f8fc;
}

.sidebarCompose {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: gray;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebarCompose .icons {
    margin-right: 5px;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}

.sidebarOption .icons {
    padding: 5px;
}

.sidebarOption h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active .icons {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}

.sidebarFooter {
    display: flex;
    justify-content: center;
}

.sidebarFooterIcons .icons {
    margin: 7px;
    cursor: pointer;
}

/* main body */
.mainBody {
    display: flex;
}

body {

    font-family: Arial,sans-serif;
}

/* email list */
.emailList {
    flex: 1;
}

.emailListSettings {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}

.emailListSettingsLeft {
    display: flex;
    align-items: center;
}

.emailListSettings .icons {
    margin: 5px;
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0;
}

.emailListSections {
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.sectionSelected {
    background-color: whitesmoke;
    border-width: 3px;
    color: red;
    border-bottom: 3px solid red;
}

.sectionSelected .icons {
    color: red;
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4 {
    font-size: 14px;
    margin-left: 15px;
}

.emailRowOptions {
    display: flex;
    align-items: center;
}

.emailRowOptions .icons,
input {
    margin: 5px;
}

.emailRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 0 10px;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRowMessage {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
}

.emailRowMessage h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailRowTitle {
    font-size: 13px;
    flex: 0.3;
    padding: 20px 0px;
}

.emailRowTime {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.emailRowDescription {
    font-weight: 400;
    color: gray;
}

@media screen and (max-width: 768px) {
    .headerLeft img {
        width: 90px;
    }
	.icons {
		width: 15px;
	}

    .headerLeft .icons {
        padding: 10px;
    }

    .headerMiddle {
        padding: 10px;
    }

    .headerMiddle input {
        padding: 8px;
    }
    .headerRight {
        padding-right: 20px;
    }

    .headerRight .icons {
        padding: 10px;
    }
    .icons {
        font-size: 12px;
        padding: 5px;
    }
    .sidebarCompose {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 30px;
    }
    .sidebarCompose .icons {
        margin-right: 5px;
    }
    .sidebarOption {
		padding: 10px 0px;
    }
    .sidebarOption .icons {
        padding: 5px;
    }
    .sidebarOption h3 {
        font-size: 12px;
    }

    .emailListSettings .icons {
        font-size: 12px;
        margin: 3px;
    }
    .section {
        padding: 10px;
        min-width: 100px;
    }
    .section h4 {
        font-size: 12px;
        margin-left: 15px;
    }
    .sidebarFooterIcons .icons {
	   margin: 4px;
    }
    .emailRowOptions .icons,
    input {
        font-size: 14px;
        margin: 5px;
    }
    .emailRowMessage {
        font-size: 10px;
    }
    .emailRowMessage h4 {
        width: 200px;
    }
    .emailRowTitle {
        font-size: 10px;
    }
    .emailRowTime {
        font-size: 10px;
    }
}

@media screen and (max-width: 525px) {
    .headerLeft img {
        width: 60px;
    }
	.icons {
		width: 10px;
		padding: 2px;
	}
    .headerLeft .icons {
        padding: 2px;
    }

    .headerMiddle {
        padding: 1px;
    }
    .icons {
        font-size: 8px;
        padding: 0;
    }
    .headerMiddle input {
        padding: 1px;
    }
    .headerRight {
        padding-right: 1px;
    }

    .headerRight .icons {
        padding: 2px;
    }
    .sidebarCompose {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 6px;
        padding: 2px;
        font-size: 8px;
    }
    .sidebarCompose .icons {
        margin-right: 1px;
    }
    .sidebarOption {
        padding: 5px 2px;
    }
    .sidebarOption h3 {
        font-size: 8px;
    }
    .emailListSettings .icons {
        font-size: 8px;
        margin: 2px;
    }
    .section {
        padding: 8px;
        min-width: 58px;
    }
    .section h4 {
        font-size: 8px;
        margin-left: 15px;
    }
    .sidebarFooterIcons .icons {
	   margin: 2px;
    }
    .emailRowOptions .icons,
    input {
        margin: 0px;
		padding: 2px;
        font-size: 8px;
    }
    input {
        width: 8px;
    }
    .emailRowMessage {
        font-size: 8px;
    }
    .emailRowMessage h4 {
        width: 100px;
    }
    .emailRowTitle {
        font-size: 8px;
	   padding: 8px 0px;
    }
    .emailRowTime {
        font-size: 6px;
    }
}

@media screen and (max-width: 350px) {
    .headerLeft img {
        width: 43px;
    }
	.icons {
		width: 7px;
	}
    .headerLeft .icons {
        padding: 3px;
    }

    .headerMiddle {
        padding: 1px;
    }
    .icons {
        font-size: 7px;
        padding: 0;
    }
    .headerMiddle input {
        padding: 1px;
    }
    .headerRight {
        padding-right: 1px;
    }

    .headerRight .icons {
        padding: 2px;
    }
    .sidebarCompose {
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 6px;
        padding: 2px;
        font-size: 7px;
    }
    .sidebarCompose .icons {
        margin-right: 1px;
    }
    .sidebarOption {
        padding: 5px 2px;
    }
    .sidebarOption h3 {
        font-size: 7px;
    }
    .emailListSettings .icons {
        font-size: 7px;
        margin: 1px;
    }
    .section {
        padding: 7px;
        min-width: 48px;
    }
    .section h4 {
        font-size: 7px;
        margin-left: 12px;
    }
    .sidebarFooterIcons .icons {
	   margin: 1px;
	}
    .emailRowOptions .icons,
    input {
        margin: 0px;
        font-size: 7px;
    }
    input {
        width: 7px;
    }

    .emailRowMessage {
        font-size: 7px;
    }
    .emailRowMessage h4 {
        width: 80px;
    }
    .emailRowTitle {
        font-size: 7px;
    }
    .emailRowTime {
        font-size: 6px;
    }
}
